[2020-12-11 10:41] vkotronis commented on #476
Closed by https://github.com/FORTH-ICS-INSPIRE/artemis/commit/eaa08b8c874f723b3ad05bc839a933605b4b6a19

[2020-12-11 10:41] #476 closed

[2020-12-11 10:46] vkotronis opened #483 "Fix coverage with new decoupled backend"
**Describe the bug**
current `convert_coverage.sh` script:
[code]

We need to account for the new modules, which are under
`backend-services`

Structure is as follows:
[code]
where service = [`autoignore`, `autostarter`, `configuration`, `database`, `detection`, `fileobserver`, `mitigation`, `notifier`, `prefixtree`]

**Affected Component(s)**
- [ ] Back-End (Database, Microservices, Containers, e

[2020-12-11 11:40] vkotronis commented on #475
Closed by https://github.com/FORTH-ICS-INSPIRE/artemis/commit/b88ddbd5c02fa4d6db2ba1cee504e75733261c19

[2020-12-11 11:40] #475 closed

[2020-12-11 12:01] vkotronis commented on #474
Closed by https://github.com/FORTH-ICS-INSPIRE/artemis/commit/b213f45fd89c873120bcdc5fca1ddeebe9665679

[2020-12-11 12:01] #474 closed

[2020-12-11 12:23] vkotronis commented on #479
After the new image is produced we can test the new bgpstream live sources:
[code]

[2020-12-11 12:48] vkotronis opened #484 "Test new monitor-1.0.1 tagged base image"
**Is your feature request related to a problem? Please describe.**
No. We simply need to test the new monitor base image produced with the new bgpstream version and w/o redis server.

https://github.com/slowr/artemis-base-images/blob/master/monitor/Dockerfile
https://hub.docker.com/r/mavromat/artemis-base-images/tags?page=1&ordering=last_updated

**Describe the solution you'd like**
Check that eve

[2020-12-11 14:31] vkotronis commented on #479
Duplicate of #484

[2020-12-11 14:31] #479 closed

[2020-12-11 16:04] vkotronis opened #485 "Fix display_info for new microservices"
**Describe the bug**
We need to simply update the `mapHelpText_stats` of `display_info` to account for the new microservices as described here: https://bgpartemis.readthedocs.io/en/latest/logic/

**Affected Component(s)**
- [ ] Back-End (Database, Microservices, Containers, etc)
- [X] Front-End (Flask, API, etc)
- [ ] Docs
- [ ] Build System

[2020-12-11 23:12] racompton opened #486 "Configurable web ui timeout"
Have a variable in .env or webapp.cfg to define idle timeout.

[2020-12-12 10:38] vkotronis opened #487 "DB bulk updater needs to be made into process"
**Describe the bug**
The current threading approach seems to lead the database to get "stuck". I will replace the logic so that it always runs periodically.

**Affected Component(s)**
- [X] Back-End (Database, Microservices, Containers, etc)
- [ ] Front-End (Flask, API, etc)
- [ ] Docs
- [ ] Build System

**To Reproduce**
https://demo.bgpartemis.org/main/bgpupdates/

**Expected behavior**
The DB p

[2020-12-14 08:21] #487 closed

[2020-12-15 09:37] vkotronis opened #489 "Make autoignore service user-controllable"
**Is your feature request related to a problem? Please describe.**
Currently autoignore is turned on by default. We can make it a user-controllable service.

[2020-12-16 13:52] vkotronis opened #492 "GET endpoint for getting config from services"
**Is your feature request related to a problem? Please describe.**
Currently we support GET config only in configuration and  database. We should support in the rest microservices too
(getting what they are currently running on).

**Describe the solution you'd like**
GET endpoint in ConfigHandler.

Do not forget to update MIRO.

[2020-12-17 16:57] #485 closed

[2020-12-18 08:22] #484 closed

[2020-12-18 10:43] vkotronis commented on #489
actually this is not needed (my bad, will close)

[2020-12-18 10:43] #489 closed

[2020-12-18 12:44] #492 closed

[2020-12-18 12:48] vkotronis opened #494 "In taps, kill running processes using their pid and SIGKILL if they do not gracefully stop themselves"
**Describe the bug**
Currently taps like bgpstreamkafka may get "stuck", we should be able to kill them if they take a lot of time to stop gracefully.

**Affected Component(s)**
- [ ] Back-End (Database, Microservices, Containers, etc)
- [ ] Front-End (Flask, API, etc)
- [x] Monitors
- [ ] Docs
- [ ] Build System

[2020-12-21 08:26] #494 closed

[2020-12-21 08:27] vkotronis commented on #477
@slowr I will work on this during the week and will issue a non-draft PR when the code reuse is at an acceptable level.

[2020-12-23 10:40] #477 closed

[2020-12-23 16:59] pixitha opened #497 "two rows of tables vs. two columns of tables for GUI layout?"
**Is your feature request related to a problem? Please describe.**
With the larger list of micro-services on right side of the page now, its difficult to have a large enough view for this layout to be useful anymore. I had to shrink my chrome view to 67% to make it useful for a single pane of information, but even then your still losing a bunch of info from the main view.

**Describe the solution

[2021-01-01 03:33] dependabot-preview[bot] opened #499 "Dependabot couldn't find a Pipfile for this project"
Dependabot couldn't find a Pipfile for this project.

Dependabot requires a Pipfile to evaluate your project's current Python dependencies. It had expected to find one at the path: `/monitor/Pipfile`.

If this isn't a Python project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/accounts/FORTH-ICS-INSPIRE).

[View the update logs]

[2021-01-01 03:34] dependabot-preview[bot] opened #500 "Dependabot couldn't find a Pipfile for this project"
Dependabot couldn't find a Pipfile for this project.

Dependabot requires a Pipfile to evaluate your project's current Python dependencies. It had expected to find one at the path: `/backend/Pipfile`.

If this isn't a Python project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/accounts/FORTH-ICS-INSPIRE).

[View the update logs]

[2021-01-04 08:47] vkotronis commented on #478
Expiring keys should restart the data workers of affected monitors. I will check how to integrate that within the monitor services code.

[2021-01-04 08:48] vkotronis commented on #500
Need to update the pip folders in dependabot.

[2021-01-04 08:48] vkotronis commented on #499
Need to update the pip folders in dependabot.

[2021-01-04 12:34] vkotronis commented on #500
Fixed in https://app.dependabot.com/accounts/FORTH-ICS-INSPIRE

[2021-01-04 12:34] #500 closed

[2021-01-04 12:34] vkotronis commented on #499
Fixed in https://app.dependabot.com/accounts/FORTH-ICS-INSPIRE

[2021-01-04 12:34] #499 closed

[2021-01-04 15:50] vkotronis opened #558 "Small issue with redis not reading the configuration file correctly"
**Describe the bug**
A clear and concise description of what the bug is.

**Affected Component(s)**
- [X] Back-End (Database, Microservices, Containers, etc)
- [ ] Front-End (Flask, API, etc)
- [ ] Docs
- [ ] Build System

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description

[2021-01-04 15:50] vkotronis commented on #558
Block #557

[2021-01-05 16:17] pixitha opened #560 "Update prefix tree instead of rebuilding from scratch on config changes"
**Is your feature request related to a problem? Please describe.**
When adding or updating the config for a single subnet, rebuilding the tree on a large config can take a long time. (there are issues with the post timeout as well).

**Describe the solution you'd like**
It would be nice if we could update the part of the tree that needs updates instead of rebuilding the entire tree. This applies t

[2021-01-05 16:37] vkotronis commented on #560
Proposed solution to develop (note to self):
1. In-memory prefix tree holds rule hashes
2. We keep track of what is added and removed (rule/prefix/asn)
3. We update only the part of the tree that is affected

So the configuration microservice needs to keep track of the different prefixes, asns and rules using hashes and send to the prefix tree diffs only. I will discuss with the team the complexit

[2021-01-06 11:43] vkotronis opened #561 "Config save should parse and save config while background reconf"
**Is your feature request related to a problem? Please describe.**
Currently config save triggers a chain of reconf events and the rest call waits until all are finished.
This can take a lot of time for large config files.

**Describe the solution you'd like**
When the save call is issued, simply parse, check and save config. Trigger
reconfiguration of the other services in background. Notify in l

[2021-01-07 14:06] #558 closed

[2021-01-07 15:25] vkotronis opened #562 "Use new quay repo (for travis and in general)"
**Is your feature request related to a problem? Please describe.**
https://quay.io/repository/inspiregroup/

**Describe the solution you'd like**
Need API KEY and username and point to new registry.
https://travis-ci.org/github/FORTH-ICS-INSPIRE/artemis/settings

[2021-01-10 12:23] vkotronis opened #564 "Investigate stuck detection (not handling incoming updates) transient bug"
**Describe the bug**
Sometimes (it is hard to replicate since not consistent), detection may get stuck and its data worker(s) cannot restart. This is because the detection-related RMQ queues vanish (are deleted).
May be related to the RMQ worker consumers getting stuck by specific messages which I could not identify.

**Affected Component(s)**
- [X] Back-End (Database, Microservices, Containers, e

[2021-01-12 10:25] vkotronis commented on #564
Closing since I could not replicate in deployment. Was probably sth transient with RMQ (maybe a corrupt image). Will re-open if re-observed.

[2021-01-13 10:48] #478 closed

[2021-01-13 14:56] #561 closed

[2021-01-14 12:53] vkotronis commented on #564
re-opening since I observed that in the demo deployment.
@slowr when available let me know to take a look at it, I will try to pinpoint what/why is stuck (I cannot replicate it always, it is random).
![Uploading Screenshot_2021-01-14 ARTEMIS - BGP Updates.png…]()

[2021-01-14 13:56] vkotronis commented on #564
At first view the REST API seems to work perfectly, what gets stuck is one of the RMQ handlers. I have difficulty identifying exactly which one though, since I do not see any related errors detection-wise.

Temporary work-around when this happens:
[code]

Need a way to find out exactly where the deployed detection consumers/handlers get stuck so that we do not have to restart the container when th

[2021-01-14 14:15] vkotronis commented on #564
This might be unrelated but I document it just in case here (client-side error due to server-side malformed message)
[code]

[2021-01-14 14:31] vkotronis commented on #483
@slowr should I move this to another release?

[2021-01-24 08:18] vkotronis commented on #564
Moving to next minor release 2.1.0 to make sure that we can replicate correctly in user envs (if it is an actual problem).

[2021-01-25 12:36] #257 closed

[2021-01-25 12:37] vkotronis commented on #446
Closed by #565

[2021-01-25 12:37] #446 closed

[2021-02-05 08:22] vkotronis opened #566 "Check small issue with subprefix autoconf"
**Describe the bug**
When the prefix is a prefix tree subprefix, we also need to forward it to configuration

**Affected Component(s)**
- [X] Back-End (Database, Microservices, Containers, etc)
- [ ] Front-End (Flask, API, etc)
- [ ] Docs
- [ ] Build System

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavio

[2021-02-08 08:26] #566 closed

[2021-02-12 10:57] vkotronis opened #568 "Migrate from travis to GitHub actions"
**Is your feature request related to a problem? Please describe.**
While travis has served this open-source project perfectly during the last year, the new status where they move away from
open-source has started severely affecting our CI/CD pipelines.

**Describe the solution you'd like**
Use GitHub actions instead of travis.

**Describe alternatives you've considered**
N/A. GitHub actions seems

[2021-02-12 10:58] vkotronis commented on #568
@slowr could you maybe check this issue based on the work you have done here? https://github.com/FORTH-ICS-INSPIRE/artemis/tree/gh-actions

[2021-02-13 18:47] georgeepta opened #569 "Drop and recreation of dataplane_msms table and view_dataplane_msms v…"
This issue introduces changes in "dataplane_msms" table and "view_dataplane_msms" view, in order to support the new design of the "dataplane_view" module.

[2021-02-15 09:01] #569 closed

[2021-03-08 11:34] #568 closed

[2021-03-18 20:17] pixitha commented on #391
RADB API is only open to paying customers, fyi.

Can't use use some sort of docker version of https://github.com/irrdnet/irrd to accomplish this, like routinator for the RKPI stuff?

[2021-03-19 08:04] vkotronis opened #576 "Check that auto-logout in Flask works as intended"
**Describe the bug**
Some users see that if they do not explicitly logout the session is preserved

**Affected Component(s)**
- [ ] Back-End (Database, Microservices, Containers, etc)
- [X] Front-End (Flask, API, etc)
- [ ] Docs
- [ ] Build System

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
After

[2021-03-23 10:30] #576 closed

[2021-03-23 17:43] vkotronis commented on #391
I will look into that, seems that hosting iird services is quite heavyweight, but maybe it can be sth separate from ARTEMIS interfacing via a GQL API as discussed offline https://irrd4.readthedocs.io/en/master/users/queries/graphql.html . I think the requirement is much more general than AS-SET and can refer to arbitrary routing objects, so it needs some thought on whether it makes sense to host t

[2021-03-24 20:31] pixitha opened #578 "Ability to suppress logs from bgpstreamlivetap_1 container (or others)"
**Is your feature request related to a problem? Please describe.**
The logs for invalid messages are very spammy and filling up the docker-compose logs esp if your looking back over a period of days. It would be nice to not have the logs at all, if they are not really useful.

`bgpstreamlivetap_1   | process - 2021-03-20 17:25:44,039 - WARNING @ run: Invalid format message: {'type': 'A', 'timestam

[2021-03-25 09:02] vkotronis commented on #578
Fixed via https://github.com/FORTH-ICS-INSPIRE/artemis/commit/8c69eb898046ab8470755042ede7a0eae79c2a2e
You can pull the latest master containers and code (requires ARTEMIS shutdown and start, as usual)

[2021-03-25 09:02] #578 closed

[2021-03-25 09:05] vkotronis commented on #562
does not seem to be an urgent requirement for now, deferring for later release

[2021-03-31 15:28] vkotronis opened #590 "Coordinate transition to new frontend, deprecate old one"
**Is your feature request related to a problem? Please describe.**
https://github.com/FORTH-ICS-INSPIRE/artemis-web

**Describe the solution you'd like**
https://github.com/FORTH-ICS-INSPIRE/artemis-web

**Describe alternatives you've considered**
N/A

**Additional context**
https://github.com/FORTH-ICS-INSPIRE/artemis-web/blob/master/docs/webapp.md

[2021-04-01 03:04] racompton opened #591 "Version is not showing in the webUI"
The version is not showing at the bottom left of the page.  It shows:

ARTEMIS v.'latest@HEAD'

Not sure if this a bug.  I thought it should say something like: ARTEMIS v.2.0.0

[2021-04-01 06:55] vkotronis commented on #591
The version you see is normal. You set the version to "latest" (first part of the version) and the "HEAD" is stemming from git itself since you downloaded the latest git code. So the string you see is correct. Resolving.

[2021-04-01 06:55] #591 closed

[2021-04-05 16:00] racompton opened #592 "With a large config, the configuration diff when selecting "Mark as Ignored" is blank"
We are using a large config.yaml file for Artemis.  It has over 12K lines.  When we view an alert and select "Mark as Ignored" the "Configuration diff (Learn new rule" window that comes up is blank.  See screenshot.
![Screen Shot 2021-04-02 at 3 59 33 PM](https://user-images.githubusercontent.com/6577813/113595078-c0da7300-95f5-11eb-8908-b4538ea7e9ab.png)

[2021-04-05 16:06] vkotronis commented on #592
Could you please clarify what type of alert are you using to learn? E.g., 'E|0|...'. Also please check if there are updates associated with it in the underlying table.

[2021-04-05 16:07] vkotronis commented on #592
Also I assume that this is related to the renderer on the frontend (the backend does not have issues handling such configs), have you tried adding the rule and checking the diff post-change in the config comparison section?

[2021-04-05 16:12] racompton commented on #592
The alert type is E|1|-|-
There are numerous "Related BGP Updates" at the bottom of the page for these alerts.
I do not see the post-change config being updated.

[2021-04-05 16:16] vkotronis commented on #592
OK. I will try to replicate in current frontend and will notify also when a new react-based frontend that is currently under work and in the integration stage is in for further testing. Will need to find out if it is a renderer or a backend issue or a combination of both.

[2021-04-05 16:35] vkotronis commented on #592
Replicated locally. Seems to be not a renderer issue but a problem with the configuration microservice timeout due to the size of the config (it takes time to respond and in the meanwhile the JS library times out).  Since this is related to the general way we handle the config file in the on-premise setup, and we will do a total revamping of this for speed and scale, I will add it to the enterpris

[2021-04-06 12:54] vkotronis opened #593 "Represent many-to-many rel between BGP updates and BGP hijacks with intermediate table"
**Is your feature request related to a problem? Please describe.**
Currently this is implicit on the site of the hijacks (is built in real time dynamically), and explicit on the site of BGP updates, albeit using a DB field that is a list of hijack keys. This creates many performance slow-downs when searching. The simplest way is to
use an intermediate table that stores the many-to-many rel referen

[2021-04-06 18:23] vkotronis commented on #564
closing since not replicable. Will re-open if needed.

[2021-04-06 18:23] #564 closed

[2021-04-06 18:26] vkotronis commented on #486
Will address after releasing new frontend, since there will be a lot of changes in the new one. Will keep issue open and address post-release.

[2021-04-06 18:27] vkotronis commented on #467
We do not use labeler anymore. Closing.

[2021-04-06 18:27] #467 closed

[2021-04-06 18:29] vkotronis commented on #161
Closing due to inactivity. Does not seem critical for production. If resources are found, we can re-open.

[2021-04-06 18:29] #161 closed

[2021-04-07 02:30] racompton opened #595 "Option to not generate an origin hijack alert if the prefix has a valid ROA"
It would be nice if in the config there was an option to not generate origin hijack alerts if Artemis sees a valid ROA for the prefix which has been sent by the validator.

[2021-04-07 02:31] racompton opened #596 "Multiple validators"
Please have an option for connections to multiple validators.  All routers have this option.  Artemis should do a join on the VRP info that comes from the different validators.

[2021-04-07 12:40] vkotronis commented on #595
The logic of the hijack alerting is the following: "if there is a mismatch between the config file and the incoming BGP updates from external or other sources, then declare alert". We accompany such alerts with the ROA validation status; however, ROAs and alerts are complementary since the Source of Truth is always the config file info. In this feature request, you refer to automatically adding th

[2021-04-07 16:30] racompton commented on #595
I'm thinking more checking the ROA before triggering the alert and if valid, do not trigger at all but silently continue.  Perhaps create a new tag for the alerts such as "RPKI valid" and apply this tag instead of "Ongoing".

[2021-04-15 07:02] vkotronis opened #597 "Recheck and fix RFC2622 prefix matching for IPv6"
**Describe the bug**
The RFC2622 operators need to be rechecked for IPv6 specifically, since we have seen v6 prefixes that while in the configuration file in an operator expression, do not make it correctly to the prefix tree.

**Affected Component(s)**
- [X] Back-End (Database, Microservices, Containers, etc)
- [ ] Front-End (Flask, API, etc)
- [ ] Docs
- [ ] Build System

**To Reproduce**
Steps

[2021-05-07 12:31] #324 closed

[2021-05-12 07:46] vkotronis commented on #392
Addressed in new frontend (to be released): https://github.com/FORTH-ICS-INSPIRE/artemis-web

[2021-05-12 07:46] #392 closed

[2021-05-12 07:48] vkotronis commented on #430
Addressed in new frontend (to be released): https://github.com/FORTH-ICS-INSPIRE/artemis-web

[2021-05-12 07:48] #430 closed

[2021-05-12 07:49] vkotronis commented on #486
Addressed in new frontend (to be released): https://github.com/FORTH-ICS-INSPIRE/artemis-web

[2021-05-12 07:49] #486 closed

[2021-05-12 07:50] vkotronis commented on #497
Addressed in new frontend (to be released): https://github.com/FORTH-ICS-INSPIRE/artemis-web

[2021-05-12 07:50] #497 closed

[2021-05-13 10:42] vkotronis commented on #362
Tentatively fixed in new frontend (to be released). Closing for now, will re-open if problem persists.

[2021-05-13 10:42] #362 closed

[2021-05-17 09:25] #590 closed

[2021-05-18 09:57] vkotronis commented on #482
https://www.cyberciti.biz/faq/configure-nginx-to-use-only-tls-1-2-and-1-3/
Will open a PR for this to edit the default nginx.conf, however this is configurable by the user as a local config file.
https://www.cyberciti.biz/faq/configure-nginx-to-use-only-tls-1-2-and-1-3/

[2021-05-18 10:14] #482 closed

[2021-05-18 10:15] vkotronis commented on #435
Closed with 2.1.0 release.

[2021-05-18 10:15] #435 closed

[2021-05-18 10:16] vkotronis commented on #390
This is already recorded in UI.

[2021-05-18 10:16] #390 closed

[2021-05-18 10:20] vkotronis commented on #592
leaving open since it also applies to the new frontend. Will be solved in a SaaS version due to the scale of the config file.

[2021-05-31 15:19] tobpip opened #600 "Admin Login Bug"
**Describe the bug**
When logging in via the Web GUI, the login data is not accepted. Direct access via the URL https://IP_address /overview is also not possible.

Solution: By using the "Remember Me" function when logging in, this works again.

**Affected Component(s)**
- [ ] Back-End (Database, Microservices, Containers, etc)
- [x] Front-End (Flask, API, etc)
- [ ] Docs
- [ ] Build System

**To

[2021-05-31 17:09] vkotronis commented on #600
To be taken up in https://github.com/FORTH-ICS-INSPIRE/artemis-web/issues/100 by frontend dev

[2021-06-01 22:53] smith8917 opened #601 "Fix LDAP in frontend and update env and docs"
**Describe the bug**
Hardcoded variables in LDAP config, lines 13 and 14 here:
https://github.com/FORTH-ICS-INSPIRE/artemis-web/blob/d005e931de866d47800355d69d6f0bea353cb2e4/apps/artemis-web/libs/passport-strategies/ldap-strategy.ts

**Affected Component(s)**
- [x ] Back-End (Database, Microservices, Containers, etc)
- [ ] Front-End (Flask, API, etc)
- [ ] Docs
- [ ] Build System

**Expected behav

[2021-06-02 11:56] vkotronis commented on #601
child frontend-specific issue created in the correct repo: https://github.com/FORTH-ICS-INSPIRE/artemis-web/issues/101
Any other conf changes that may be required will also take place in master ARTEMIS repo.

[2021-06-04 19:01] vkotronis commented on #601
TODO:
[ ] New `.env` vars
`LDAP_GROUP_SEARCH_BASE="ou=people,dc=planetexpress,dc=com"`
`LDAP_GROUP_SEARCH_FILTER="(member={{dn}})"`
`LDAP_GROUP_SEARCH_ATTRIBUTES="mail,uid"`
[ ] Remove `.env.` var `LDAP_USER_GROUP`
[ ] Update LDAP-related docs (`ldapconf.md`)
[ ] Update `docker-compose` (also in `vagrant`) and `k8s` (`values`, `configmap`,  `frontend-deployment`) vars

[2021-06-08 09:39] #601 closed

[2021-06-25 10:44] vkotronis commented on #600
This does not apply in newest release 2.1.0 as well in the `latest` ARTEMIS version. If you still encounter the issue with the new frontend, please re-open.

[2021-06-25 10:44] #600 closed

[2021-06-29 09:46] CuriouzK0d3r opened #604 "Type errors with Docker Compose version 2.0.0-beta.4"
**Describe the bug**
OS: MacOS
docker-compose version: 2.0.0-beta.4

Trying to start the containers leads to a number of syntax errors.
1. found character that cannot start any token
2. the type should by string or number

They are produced by type-checking performed at the .env values.
For example, the HASURA secret is starting with @ and this is problematic.

**Affected Component(s)**
- [ ] Back

[2021-07-01 15:29] chriscummings-esnet opened #605 "ARTEMIS showing wrong IP in login activity banner"
**Describe the bug**
When logging into ARTEMIS, the activity banner displays

**Affected Component(s)**
- [ ] Back-End (Database, Microservices, Containers, etc)
- [X] Front-End (Flask, API, etc)
- [ ] Docs
- [ ] Build System

**To Reproduce**
Steps to reproduce the behavior:
1. Login to ARTEMIS
2. Log out
3. Look at IP address in Activity banner displayed on the login page, and observe that it is

[2021-08-18 08:36] a16 opened #606 "Support base_dir option to artemis web"
**Is your feature request related to a problem? Please describe.**
We can access artemis web(frontend) with host based routing (ex. https://artemis.example.com)
I'd be happy if I could access it with path based routing (ex. https://www.example.com/artemis)
I believe it's useful when using http reverse proxy.

**Describe the solution you'd like**
Add new parameter ARTEMIS_WEB_BASE_DIR. and need to

[2021-09-14 04:56] sidchn opened #608 "Security Bug: Privilege Escalation bug - broken access control"
**Describe the bug**
A clear and concise description of what the bug is.

Artemis uses JWT tokens and it is possible to tamper with the token to change the role
from user to admin by manipulating the jwt token in the response when a GET request is made to /api/auth/jwt
The attacker can escalate privleges from a normal guest user to an admin user.

**Affected Component(s)**
Full compromise of Artem

[2021-09-14 08:03] vkotronis commented on #608
@sidchn thanks for catching this insidious issue! One question: when changing the role, the integrity of the token should be actually broken since the signature does not match the content. How are you able to recreate the correct signature without having access to the corresponding key? We are trying to isolate if it is a signature verification issue in that case. Your feedback on this would be va

[2021-09-14 08:12] vkotronis commented on #608
We are signing the token using the env-defined secret key (local per installation): https://github.com/FORTH-ICS-INSPIRE/artemis-web/blob/master/apps/artemis-web/pages/api/auth/jwt.ts#L17
however we need to check where we validate the signature upon parsing.
If available, could you also take a look at https://github.com/FORTH-ICS-INSPIRE/artemis-web/tree/master/apps/artemis-web/pages/api/auth and

[2021-09-14 08:42] vkotronis commented on #608
@sidchn by the way since we have a double-defense strategy for this kind of things, and we are using the hasura middleware in the backend to actually check the signature before data is retrieved from the artemis update+hijack database in the backend, were you able to get back actual data as escalated admin? I assume that you cannot actually since the signature is broken when you tampered with the

[2021-09-14 12:35] sidchn commented on #608
I have tested it again, and it appears that it was only a client side bypass and the your multiple layered check approach is working correctly. Although an unprivileged user should not be able to see the admin functionalities such as the user management page, and the various api calls, etc. That should all be 403 forbidden/401 Unauthorized so the tampered JWT is being accepted by the application i

[2021-09-14 12:52] vkotronis commented on #608
Thanks for looking into this in detail @sidchn ! We will check with @CuriouzK0d3r to mitigate this also on the first layer so that it is not possible to render and kind of admin functionality with a tampered token (this should be solved server-side at the next.js backend).

[2021-09-14 14:31] sidchn commented on #608
Happy to help 😄

[2021-09-20 09:04] leopoul opened #610 "Changes in configuration have non-deterministic effect"
**Describe the bug**
Config changes to cause pseudo-hijacks make BGP updates appear as hijacks even when origin AS is restored to the legitimate one. The provided config is an example with prefixes from Google, Cloudflare, Neustar, etc. The bug has been triggered with different combinations of prefixes/ASes not only the ones used in this report.

**Affected Component(s)**
- [X] Back-End (Database,

[2021-09-23 17:38] vkotronis commented on #610
@leopoul thanks for reporting this? Could you also try the same without using any scaling parallelism?
i.e., `docker-compose down && docker-compose up -d`?
I suspect that we are missing sth when using parallel instances, but first let's verify this. You are correct in that we tie the prefix tree rule info to the message being passed down to the detectors. I will also replicate locally without any

[2021-09-25 08:01] leopoul commented on #610
@vkotronis my pleasure!

Issue happened again without scaling. Steps:

- Removed postgres and mongo folders to have a clean env.
- I made sure my initial config that causes pseudo hijacks is in ```local_configs/backend/config.yml```.
- Started without scaling, same steps as above.
- I let it run for 10-15 minutes making sure there are hijacks detected for v4 and v6 for the same AS, in this case ``

[2021-09-26 19:01] leopoul commented on #610
No changes 36 hours after modifying in config.
![image](https://user-images.githubusercontent.com/770064/134820763-9d427fd5-23a5-4b83-be14-7e6d245b7ec6.png)

[2021-10-18 12:21] stkonst opened #611 "IPv6 prefix that is defined for transit is reported as E1 hijack."
Hi guys,

We have an IPv6 prefix that is defined in the configuration of Artemis:
[code]

And we have the transit provider defined few lines later
[code]

In the rule section we "glue" the prefixes with the transit provider:
[code]

But still Artemis reports the prefix as being hijacked from AS4455 with E1 type but that's not correct as 4455 is a true transit provider of us.

[2021-10-21 09:08] vkotronis commented on #610
might be correlated with https://github.com/FORTH-ICS-INSPIRE/artemis/issues/611

[2021-11-09 12:26] pixitha opened #612 "Add a lookup mechanism to query peeringdb.org for contact info"
**Is your feature request related to a problem? Please describe.**
It would be great if  we could query peeringdb.org to get the contact info for ASNs, this could help dealing with a hijack.

**Describe the solution you'd like**
Reach out to peeringdb and see if they would allow access to the contact data, right now you need an account to login and view the info on the website, but they do have an

[2021-11-09 18:59] smith8917 opened #613 "hijack.log URI broken"
Hello!

It looks like the URL that comes through in the alerting module for hijack.log file has a bug in it.  It has `/main` in the URI which, if removed, allows you to reach the specific hijack… but _with_ the `/main` it sends back a 404.

Broken (found in the JSON output in hijack.log):
https://artemis.es.net/main/hijack?key=09d4491693dbee9bae37a63c759ff714
Works (should be in hijack.log):
https

[2021-11-10 09:57] vkotronis commented on #613
located the issue here: https://github.com/FORTH-ICS-INSPIRE/artemis/blob/5b12a9d79a2785d53182244b2eec0d30f87aad96/utils/artemis_utils/logaux.py#L90

Will update the package with a new PR to take care of it, good catch.

[2021-11-22 10:08] jajeffries opened #614 "README architecture link is incorrect"
**Describe the bug**
The link for architecture in the readme is incorrect.

**Affected Component(s)**
- [ ] Back-End (Database, Microservices, Containers, etc)
- [ ] Front-End (Flask, API, etc)
- [x] Docs
- [ ] Build System

**To Reproduce**
Steps to reproduce the behavior:
1. Go to readme.
2. Click Architecture
3. Nothing happens

**Expected behavior**
Go to system architecture sub section

I hav

[2021-11-22 10:12] #614 closed

[2021-11-23 17:10] vkotronis commented on #606
Solved by https://github.com/FORTH-ICS-INSPIRE/artemis-web/pull/127 and https://github.com/FORTH-ICS-INSPIRE/artemis/commit/0c2c9f12515eaa22920e92148b9994793a6eb2f3 in `latest`

[2021-11-23 17:10] #606 closed

[2021-11-29 19:41] racompton opened #618 "Re-evaluate the RPKI state when new routing advertisements come in"
Have Artemis re-evaluate the RPKI state when new routing advertisements come in and potentially clear the RPKI INVALID status in the alerts.  Similar to how Artemis can change the status of an alert from Ongoing to Withdrawn.

One example of this is where we had the prefix 76.178.98.0/23 advertised but Artemis had the config to monitor for 76.178.64.0/18.  This generated an alert and was RPKI inva

[2021-12-06 11:16] #613 closed

[2021-12-06 12:44] vkotronis commented on #618
Will work on it this week, we should probably remove the redis caching logic https://github.com/FORTH-ICS-INSPIRE/artemis/blob/5b12a9d79a2785d53182244b2eec0d30f87aad96/backend-services/detection/core/detection.py#L915 so that it always gets the most recent info from the validator itself.

[2021-12-06 12:50] vkotronis commented on #618
hmmm currently we clear the cache every one hour. We cannot clear events based on RPKI only, we clear them when the configuration which is the SoT does not consider them hijacks any more. We can remove the caching logic for RPKI statuses, but this will probably have a performance impact on detection. Will need to think on this before implementing sth related.
@racompton in the event you mention, a

[2022-01-18 21:10] Surphix opened #620 "Unable to activate microservices in microk8s cluster"
**Describe the bug**
A clear and concise description of what the bug is.

Unable to start any of the micro services within kubernetes microk8s cluster. Pods appear to be running and identified in the front end, however toggling micro services on within the admin -> system page does not work.

**Affected Component(s)**
- [X] Back-End (Database, Micro services, Containers, etc)
- [ ] Front-End (Flas

[2022-01-20 08:33] vkotronis commented on #620
@Surphix have you tried enabling the `detection` service to see if that works? Also, have you properly configured RIPE RIS in the conf file? If not configured, the base service is running but it does not actually consume data (and appears off in the UI). Note that in general unconfigured monitor microservices appear as off until they are both configured and enabled in the UI.

@CuriouzK0d3r do you

[2022-01-20 16:57] #620 closed

[2022-01-20 17:14] vkotronis commented on #620
@Surphix saw that the issue is closed, was it a missing configuration problem? Did you active the microservices after enabling them on the conf file?

[2022-01-20 17:27] Surphix commented on #620
@vkotronis I uninstalled and reinstalled the chart, updated the config and it seemed to work after that. Thanks!

[2022-01-20 17:42] vkotronis commented on #620
Great, thanks for reporting this @Surphix and I am glad that it works as expected.

[2022-02-21 12:03] vkotronis opened #622 "Remove process parallelism from re-configuration task"
**Describe the bug**
https://github.com/FORTH-ICS-INSPIRE/artemis/blob/a9c94fa5ce54eca762ef61f170c4be9e439ea519/backend-services/configuration/core/configuration.py#L1274

Currently it may happen that two serial config posts will result to inconsistent state on the shared manager dict.

**Affected Component(s)**
- [X] Back-End (Database, Microservices, Containers, etc)
- [ ] Front-End (Flask, API,

[2022-02-21 19:05] #622 closed

[2022-02-28 15:00] sonnenteich opened #624 "No Mail sending"
**Describe the bug**
I configured the setting to get an alert via email, but when I achieve a hijacking I get no notification.
How can I debug this process?

**Affected Component(s)**
- [x] Back-End (Database, Microservices, Containers, etc)
- [x] Front-End (Flask, API, etc)
- [ ] Docs
- [ ] Build System

**Expected behavior**
I exact to get a email.

**Additional context**
I run Artemis in a loca

[2022-03-03 10:43] vkotronis commented on #624
Hello @sonnenteich ! We would need a snippet of the configuration you are using to help you debug. Could you share a sample file with the sensitive information (passwords, host info, etc.) filtered out? The dcumentation on this is here: https://bgpartemis.readthedocs.io/en/latest/loggingconf/

Typically the errors done by users in this context are:
1. Malformed yaml
2. Forgetting to attach their m

[2022-03-08 07:33] sonnenteich commented on #624
Hey, @vkotronis thanks for your answer.
The mail part of my loggingconf looks like this:
[code]
I have a further question, which services should be triggered to send an email, I cant see anything in the logs.

[2022-03-09 16:51] vkotronis commented on #624
Do you see anything in the notifier logs, i.e., `docker-compose logs -f notifier`? Also have you attached the `smtps_handler` to the `mail_logger`? Regarding `secure: False`, have you tried `secure: True` (default)?

I have also pasted this and asked in the Slack channel, will post here with updates. In the meanwhile please check these questions and we follow-up.

[2022-03-10 15:05] sonnenteich commented on #624
Hey @vkotronis
I missed the `mail_logger`, I added the `smtps_handler` now it works fine.
Thanks a lot for your support.

[2022-03-10 15:05] #624 closed

[2022-03-31 09:26] vkotronis opened #625 "ARTEMIS Lite design and PoC"
**Is your feature request related to a problem? Please describe.**
Lighter ARTEMIS version with bare minimum reqs:

* Configuration file (YAML) + memory importer
* Simple RIS Live websocket monitor
* Detector (comparing input from RIS live with the YAML file in-mem info)
* Alerter with integrations
* No DB state, no per-hijack state (simple triggers + alerts)
* No multi-user DB, should be runnable

[2022-04-07 01:11] Sivolen opened #626 "Don't load config file or modulies"
After starting via docker, all modules are launched, the web interface opens, but it is empty and if you look at the config in the web interface, it does not see it.
[code]

**Screenshots**
in atach

**System (please complete the following information):**
 - OS: [ubuntu 20.04]
 - Browser [firefox]
 - Version 98.0.2 ]

**Additional context**
my config

[code]
![error1](https://user-images.githubuse

[2022-04-07 07:50] CuriouzK0d3r commented on #626
Greetings! Thanks for reporting this!

Could you try `docker-compose logs` and inform us about possible errors shown?

[2022-04-07 09:24] Sivolen commented on #626
I think the problem is in the database, but I can't figure out what I'm doing wrong.
log in attachment
[logs.txt](https://github.com/FORTH-ICS-INSPIRE/artemis/files/8441520/logs.txt)

[2022-04-07 21:46] Sivolen commented on #626
I have a next error
[code]

[2022-04-08 07:20] vkotronis commented on #626
Hello @Sivolen ! Are you on the default `latest` ARTEMIS (see `SYSTEM_VERSION` variable in `.env`) with latest code and containers? Please do the following:
[code]
I assume you have followed the setup guide and set up a `local_configs` folder, changed security vars, etc.
https://bgpartemis.readthedocs.io/en/latest/gettingstarted/
https://bgpartemis.readthedocs.io/en/latest/installsetup/
https://bg

[2022-04-10 23:40] Sivolen commented on #626
Thank, i reinstalled artemis and it starts correct, but data don't load and if i open "admin/system" i have next error
```Application error: a client-side exception has occurred (see the browser console for more information).```

[2022-04-11 01:33] Sivolen commented on #626
Thanks!
After that, I reinstalled everything, the web interface worked correctly and the config and modules are displayed, but when you switch to the bgp update mode, I don’t see the download (No bgp updates)

[2022-04-11 02:39] Sivolen commented on #626
Thanks, it work is great

[2022-04-11 02:39] #626 closed

[2022-04-11 06:23] Sivolen opened #627 "Use with proxy"
Hey! It would be great to implement the ability for Artemis to receive updates through a proxy.

[2022-04-18 11:45] CuriouzK0d3r commented on #625
Additional idea: Integrate the artemis-lite functionality to a purely-client side app. The heavier-performance stuff could be implemented in WASM. I would recommend Svelte instead of React this time. It has faster loading times.

[2022-04-18 12:03] 0verloader commented on #625
Additional idea: Create a lite version of ARTEMIS using the GOlang. The BGP data can be collected using CAIDA libBGPstream library.

[2022-04-21 05:11] CuriouzK0d3r opened #629 "pg-amqp-bridge docker image"
**Describe the bug**
A clear and concise description of what the bug is.

subzerocloud/pg-amqp-bridge docker image does not exists anymore. We need to either replace it or build it from source.

**Affected Component(s)**
- [x] Back-End (Database, Microservices, Containers, etc)
- [ ] Front-End (Flask, API, etc)
- [ ] Docs
- [ ] Build System

**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2022-04-21 06:20] vkotronis commented on #629
@CuriouzK0d3r could you check this with high priority? Does it mean that currently we cannot download this? If possible please issue a PR to replace it (hope the new image does not break sth, check also env vars and tests should pass)

[2022-05-04 16:25] sward1557 opened #633 "PostgreSQL Version Update"
PostgreSQL 10 is no longer going to be supported after Nov 2022. Also this appears to be a performance bottleneck for the system.

[2022-05-11 20:12] smith8917 commented on #190
Hi foks, it's been a while since this has been updated.  Is there a new timeline for this feature request?

[2022-05-12 09:49] vkotronis commented on #629
Substituted by https://hub.docker.com/r/curiouzk0d3r/pg-amqp-bridge

[2022-05-12 09:49] #629 closed

[2022-05-12 09:50] vkotronis commented on #627
@Sivolen could you elaborate on this issue? Could you give an example of the arch you have in mind? Currently we get updates from RIPE RIS Live, RouteViews, private Kafka BMP feeds via BGPStream, historical updates via BGPStream and local routes via ExaBGP.

[2022-05-12 09:51] vkotronis commented on #627
What would be the proxy interface in your setup? BGP, WebSocket, sth else?

[2022-05-12 12:33] vkotronis commented on #190
@smith8917 thanks for the feature request Eric. We have not followed up on this since the current ARTEMIS design and implementation (especially the detection and prefix trie logic) do not allow easy comparisons on the ASN level (for arbitrary prefixes). The main  logic is that ARTEMIS ingests the prefix-based conf file, turns it into an in-memory prefix trie for real-time lookups and  uses multipl

[2022-05-17 04:17] Sivolen commented on #627
Hey!
Interested in WebSocket, is it possible to somehow redirect requests to RIPE RIS Live, RouteViews through a proxy?

[2022-07-04 00:01] Sivolen opened #654 "Disk full after some time"
**Describe the bug**
Disk full even though disk cleanup option is enabled DB_AUTOCLEAN=24

a.gridnev@pso-artemis-01:~$ df -h
Filesystem                         Size  Used Avail Use% Mounted on
udev                               2.9G     0  2.9G   0% /dev
tmpfs                              595M  2.6M  592M   1% /run
/dev/mapper/ubuntu--vg-ubuntu--lv   97G   93G     0 100% /
tmpfs

[2022-07-28 13:50] vkotronis commented on #633
@CuriouzK0d3r this will be a clean update in case migrations are not feasible. Will connect issue when you open  upgrade PR.

[2022-07-28 13:50] vkotronis commented on #627
@Sivolen I assume yes, if it is not supported out of the box feel free to open PR for new microservice or configuration primitive

[2022-07-28 13:51] vkotronis commented on #625
@CuriouzK0d3r @0verloader where are we at with this?

[2022-07-28 13:53] vkotronis commented on #654
@Sivolen please use a larger disk. We have sample requirements in docs: https://bgpartemis.readthedocs.io/en/latest/requirements/
Please use at least 50Gig and let us know if there is any capacity overloading.
A few gigs is barely sufficient for the OS on top of which the ARTEMIS docker mservices are running.

[2022-07-28 17:25] 0verloader commented on #625
I am currently working on duckDB. I have a POC that receives announcements via the websocket and presents them in a web-interface using svelte.

[2022-08-01 05:58] Sivolen commented on #654
Increased the size to 150 GB let's see how it will be

[2022-08-21 11:56] #654 closed

[2022-08-30 14:57] chewsterB opened #659 "Routinator Fails to Start"
**Describe the bug**
When trying to start routinator - it fails with:

[code]

**Affected Component(s)**
- [x] routinator

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the instructions here: https://bgpartemis.readthedocs.io/en/latest/rpkivalidconf/
2. Routinator fails with the above log (docker logs routinator)
3. This line in the instructions creates a directory called routinator.

[2022-08-30 15:08] chewsterB opened #660 "Standard SYSLOG Handler Causes Multiple Containers to Fail to Startu (Ubuntu 20.04)"
**Describe the bug**
When enabling the syslog handler in the config files found at:

[code]

(with detached config).

Various containers fail to start or get stuck in restart loops.

[code]

**Affected Component(s)**
- [ ] Back-End Microservices

**To Reproduce**
Steps to reproduce the behavior:
1. Enable SYSLOG handler in local configuration files (logging.yaml)
2. docker-compose up -d
3. Contain

[2022-08-30 15:20] chewsterB opened #661 "Writing Hijacks to SYSLOG to be consumed by Splunk (etc)"
**We want to get HIJACK logs into other systems**

We have configured Artemis and are successfully monitoring hijacks (using ASN 12654).

We have configured the logging in both Backend and Monitor (with detached config files) as follows:

[code]

There is logging from docker arriving at rsyslog - but we don't see any hijacks or any status changes to hijacks (e.g. acknowledged, resolved).

Either a

[2022-08-31 06:47] chewsterB commented on #661
Seems we did have a configuration issue - as we are now getting logs to syslog. Apologies for the confusion - self closing.

[2022-08-31 06:47] #661 closed

[2022-08-31 11:16] CuriouzK0d3r commented on #660
Greetings! Thanks for reporting this!

A couple of questions:
1. I guess the `local_config/monitor/logging.yaml` has a typo right? Because the config file is in the `local_configs` dir
2. I am observing that you are using the UDP port 514. Can you instead redirect to a file (like /dev/log) and see if it works? Maybe there is a connection issue.

This may help us debug this!

[2022-08-31 15:25] chewsterB commented on #660
Greetings, thanks for getting back to me...

1. Yep - that was a typo, just me being a muppet!
2. We get the crash if we try and point it to /dev/log, had to point it to
the port...
  a) I checked that /dev/log exists and symlinks to a file (on the syslog
host)
  b) We read the documents here, based on the error message about "no
socket" and took the guess that it wanted a host in "s and a port -

[2022-08-31 17:34] CuriouzK0d3r commented on #659
I wasn't able to replicate this issue yet, but could you run cat local_configs/routinator/routinator.conf to see it is being read as a file?

Perhaps something went wrong with the config files? Can you delete the local_configs/routinator dir and re-execute the following commands?

`mkdir -p local_configs/routinator/tals && \
sudo chown -R 1012:1012 local_configs/routinator/tals && \
mkdir -p local

[2022-08-31 17:58] CuriouzK0d3r commented on #660
Ah got it. I think the documentation mentions the following: "An alternative to providing a (host, port) tuple is providing an address as a string, for example ‘/dev/log'"

1. I guess you have checked that rsyslog runs properly and listens to 514? Perhaps change the port number?
2. When using the /dev/log, can you write the value in the  address field (in the configuration file) you are using? And

[2022-09-09 12:54] chewsterB commented on #660
As promised here comes the full testing cycle for our syslog error.

Unfortunately I'm out of time to make it into a decent readable format -
but I've tried to make sections by marking them with == or === at the
beginning of lines.

We've repeated this error multiple times, on different virtual machines -
and can consistently trigger the issue.

Hope this helps - let me know if you want me to do a

[2022-10-12 23:39] leopoul commented on #610
I did some more digging into this and submitted a fix: https://github.com/FORTH-ICS-INSPIRE/artemis/pull/662. The issue hits whenever there is a config change while Artemis is running. It does not occur if one shuts down all containers and starts again. It looks as if prefixtree remains stale for either v4 or v6 after changes. With this in mind here is what I found:
- Upon initialization prefix_tr

[2022-10-13 09:27] #610 closed

[2022-10-28 05:02] Sivolen opened #664 "Not working after update"
Hi!
Help me please
[error_log.txt](https://github.com/FORTH-ICS-INSPIRE/artemis/files/9885382/error_log.txt)

I updated according to the documentation, but after updating on the front I get an error 502.
Clipping from the logs in the attachment, can you tell me what's wrong?

[2022-10-28 06:20] vkotronis commented on #664
This was a problematic update in the frontend we will update the container and ping to download the new microservice

[2022-10-28 06:36] vkotronis commented on #664
Fixed in https://github.com/FORTH-ICS-INSPIRE/artemis-web/pull/165 (frontend side)

Please follow https://github.com/FORTH-ICS-INSPIRE/artemis-web/pull/165 for the upgrade. We will issue the official release early next week, for now since you are working on the `latest` version you can follow these instructions.

If anything comes up, let us know please. Thanks @Sivolen !

[2022-10-28 06:36] #664 closed